.user-graph {
    padding: 20px;
    overflow: visible;
}

.graphHolder {
    width: 100vh;
    margin-top: 50px;
    border: 2px solid rgb(63,81,181);
    border-radius: 10px;
    padding-left: 10px;
}

.graphLabel {
    text-align: left;
    color: rgb(63,81,181);
}