.user-graph {
    padding: 20px;
    overflow: visible;
}

.graphHolder {
    width: 70vh;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
}

.graphLabel {
    text-align: left;
}